<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.0.5" />
  <package id="Google.Protobuf" version="3.19.6" />
  <package id="MethodBoundaryAspect.Fody" version="2.0.148" />
  <package id="Newtonsoft.Json" version="13.0.2" />
  <package id="Numpy.Bare" version="3.8.1.28" />
  <package id="Protobuf.Text" version="0.6.1" />
  <package id="pythonnet_netstandard_py38_win" version="2.5.1" />
  <package id="Serilog" version="2.10.0" />
  <package id="Serilog.Sinks.Console" version="4.1.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" />
  <package id="TensorFlow.NET" version="0.100.4" />
</packages>